@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Code", monospace;
    font-family: "Raleway", sans-serif;
}

/* * {
    outline: 1px solid red !important;
} */

*::selection {
    @apply bg-black text-purple-400;
}

html {
    scroll-behavior: smooth !important;
}

.link {
    @apply underline underline-offset-2 py-1 hover:bg-purple-700 hover:text-white transition-colors;
}
