@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Code", monospace;
    font-family: "Raleway", sans-serif;
}

/* * {
    outline: 1px solid red !important;
} */

.link {
  @apply underline underline-offset-2
}