@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Code", monospace;
    font-family: "Raleway", sans-serif;
}

/* * {
    outline: 1px solid red !important;
} */

html {
    scroll-behavior: smooth !important;
}

.link {
    @apply underline underline-offset-2 py-1 hover:bg-gray-200 hover:text-gray-800 transition-colors;
}
